  body {
    padding-top: 0em;
    font-family: Georgia, "Times New Roman", 
    Times, serif;
    color: black;
    background-color: mediumseagreen }
    ul.navbar {
       list-style-type: none;
       padding: 0;
       margin: 0;
       overflow: hidden;
       background-color: black;
       border-bottom: 0.5em solid forestgreen; }
    ul.navbar h1 {
      float: left;
      padding-left: 0.5em;
      padding-right: 3.5em;
      margin-top: 1.5em;
      font-size: 50px;
      font-family: STHeiti
    }
    ul.navbar li {
      float: left;
      background: forestgreen;
      margin: 0.5em;
      padding: 0.3em;
      margin-top: 6em; }
    ul.navbar a {
      text-decoration: none;
      text-align: center;
      padding: 1em 1em; }
    a:link { 
       color: white }
    a:visited {
       color: darkseagreen}
    ul.navbar li.active {
      background: white;
      padding: 1em 1em;
    }
    h1 {
      font-family: Helvetica, Geneva, Arial, 
    SunSans-Regular, sans-serif }
    div.intro {
      text-align: center;
    }
    address {
       margin-top: 1em;
       padding-top: 1em;
       border-top: thin dotted }



    header div.photo {
      float: left;
      border: 0em solid forestgreen;
      margin-left: 100px;
      margin-right: 5em;
    }
    header div.info {
      text-align: left;
      background-color: white;
      margin-top: 30px;
      margin-right: 380px;
      margin-left: 100px;
      padding: 0.5em 2em 0.5em 2em; 
    }
    header h1 {
      font-family: Georgia, "Times New Roman", 
    Times, serif;
    }
    header h2 {
      color: gray;
      margin-top: -15px;
    }



    dl.left {
      margin-left: 65px;
      margin-right: 380px;
    }
    dl.left dt {
      background-color: mediumseagreen;
      padding-left: 3em;
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      font-size: 24px;
      color: white;
      font-family:  Helvetica, Geneva, Arial, 
    SunSans-Regular, sans-serif;
    }
    dl.left div {
      background-color: white;
      padding: 0.5em 2em 0.5em 2em; 
    }
    dl.left h2 {
      line-height: 13px;
      margin-bottom: -3px;
      margin-top: 1em;
    }
    dl.left p {
      margin-right: 20px;
    }
    dl.left div p.org {
      color: gray;
    }
    dl.left div p.time {
      float: right;
      color: lightslategray;
      margin-top: -4em;
    }


    dl.right {
      float: right;
      width:300px;
      margin-right: 65px;
      font-size: 0;
    }
    dl.right dt {
      background-color: white;
      padding-left: 1em;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      font-size: 24px;
      color: mediumseagreen;
      font-family:  Helvetica, Geneva, Arial, 
    SunSans-Regular, sans-serif;
    }
    dl.right li {
      margin-left: -55px;
      background-color: mediumseagreen;
      width: 300px;
      font-size: 16px;
    }
    canvas {
      text-align: center;
    }